<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ng Bootstrap Demo</title>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/app.css"/>
  <script src="bower_components/angular/angular.js"></script>
  <script src="src/app.js"></script>
  <script src="src/controllers.js"></script>
  <script src="src/bootstrap.js"></script>
</head>
<body ng-controller="Demo">
  Name: <input ng-model="name">

  <div>
    Hello <span ng-bind="name"></span>
  </div>

  <ul>
    <li ng-repeat="number in numbers">{{number}}</li>
  </ul>
</body>
</html>
