<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Directive Demo</title>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/app.css"/>
  <script src="bower_components/angular/angular.js"></script>
  <script src="src/app.js"></script>
  <script src="src/services.js"></script>
  <script src="src/controllers.js"></script>
  <script src="src/filters.js"></script>
  <script src="src/directives.js"></script>
  <script src="src/bootstrap.js"></script>
</head>
<body ng-controller="Demo">
  <input ng-model="greeting">
  <input ng-model="name">
  <hr/>

  <zippy title="{{greeting}}">
    Hello {{name}}!
  </zippy>

  <hr>
  <pre>name={{name}}</pre>
</body>
</html>

